body {
  background: linear-gradient(to top, #1b1b1b, #333);
  color: #e0e0e0;
  font-family: "Arial", sans-serif;
  padding: 50px;
  margin: 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #222;
  padding: 15px;
  max-width: 500px; /* Set the width you want for the navbar */
  margin: 0 auto;
  border-radius: 8px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu li {
  margin: 0 10px;
}
.menu li a {
  text-decoration: none;
  color: #c4c4c4;
  font-weight: bold;
  font-size: 1.1em;
  padding: 8px 16px;
  border-radius: 4px;
}
.menu li a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.286);
}

.spill-container {
  margin: 20px auto;
  max-width: 1000px;
  height: 750px;
  background-color: #1e1e1e;
  border: 4px solid #555;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.section {
  max-width: 800px;
  height: 700px;
  padding: 40px;
  border: 5px solid #777;
  background-color: #222;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  text-align: left;
  margin: 0 auto;
}

.footer {
  color: #999;
  padding: 20px;
  font-size: 0.9em;
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 40px;
}
.footer-content {
  max-width: 800px;
  margin: 0 auto;
}
