body {
  background: linear-gradient(to top, #1a1a1d, #2e3d4c, #3a506b);
  color: #e0e0e0;
  font-family: "Arial", sans-serif;
  padding: 50px;
  margin: 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #333333;
  padding: 15px;
  max-width: 975px;
  margin: 0 auto;
  border-radius: 10px;
  border: 0.5px solid #555;
}

/*Menyen (veien til spill, instukser, omOss)*/
.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu li {
  margin: 0 10px;
}
.menu li a {
  text-decoration: none;
  color: #c4c4c4;
  font-weight: bold;
  font-size: 1.1em;
  padding: 8px 16px;
  border-radius: 4px;
}
.menu li a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.286);
}

/*Spill boks (spillet i denne)*/
.spill-container {
  margin: 20px auto;
  max-width: 1000px;
  height: 750px;
  background-color: #333333;
  border: 4px solid #555;
  border-radius: 10px;
}

/*Instrukser boks (her skal regler være samt skjermbilder av spill?*/
.section {
  margin: 20px auto;
  max-width: 920px;
  padding: 40px;
  height: 750px;
  background-color: #333333;
  border: 4px solid #555;
  border-radius: 10px;
  color: #ffffff;
  text-align: left;
}

.footer {
  color: #ffffff;
  padding: 20px;
  font-size: 0.9em;
  text-align: center;

  margin-top: 40px;
}
.footer-content {
  max-width: 800px;
  margin: 0 auto;
}
